.App {
  padding-top: 100px;
  text-align: center;
  background-color: #f6f1f9;

}

.Portfolio-Viewer {
  text-align: center;
  background-color: #f6f1f9;
  width: 100%;
  height: 100%;
}

.my-card {
  height: 100% !important;
  position: relative;
  align-items: center;
  justify-content: center !important;
  box-shadow: 0px 1px 2px 1px #cfd0d1;
}

.my-card-header {
  width: 100%;
  background-color: #071630;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0%;
  height: 12.5%;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

.navbar-container {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #071630;
  align-items: center;
  text-align: center;
  justify-content: center !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  border-bottom: 3px;
  border-style: groove;
  color: #ffff;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1 !important;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  height: 5vmax;
}

.navbar.fixed {
  background-color: #ffffff;
  transition: .3s ease-in-out;
}

.header-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40 px;
}

.footer {
  width: 100%;
  background-color: #071630;
  align-items: center;
  text-align: center;
  justify-content: center !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  color: #ffff;
  bottom: 0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  height: 2.5vmax;
}

.footer-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.my-body {
  position: relative;
  align-items: center;
  justify-content: center !important;
}

.shortcut-card {
  border: 0 !important;
  border-radius: 4px !important;
  box-shadow: 0px 1px 2px 1px #cfd0d1;
  cursor: pointer;
}

.app-card-body {
  padding: 15px !important;
}


.my-row {
  height: calc(100vh);
  margin: 0px !important;
  padding: 5px;
}

.my-col {
  padding: 5px !important;
  align-items: center;
  justify-content: center !important;
}

.full-width {
  width: 100%;
  height: 50%;
}